@charset "utf-8";

/* CSS Document */
.nav_1000 .NMainBg {
	height: 80px;
}

.nav_1000 .NMainBg {
	margin-bottom: -80px;
}

.nav_1000 .NMain {
	height: 80px;
}

.nav_1000 .NLeft {
	background: none;
}

.nav_1000 .NRight {
	background: none;
}

.nav_1000 .NItemM a {
	color: rgb(85, 85, 85);
}

.nav_1000 .NItemM a {
	font-size: 14px;
}

.nav_1000 .NItemM a {
	font-weight: 400;
}

.nav_1000 .NItemM a {
	font-style: normal;
}

.nav_1000 .NItemM a {
	text-decoration: none;
}

.nav_1000 .NItemM a {
	font-family: 풕턼환쥌;
}

.nav_1000 .NItemM a {
	text-align: center;
}

.nav_1000 .NItemH .NItemM {
	background-color: rgb(48, 93, 195);
}

.nav_1000 .NItemH .NItemM {
	background-image: none;
}

.nav_1000 .NItemH .NItemM {
	background-position: center top;
}

.nav_1000 .NItemH .NItemM {
	background-repeat: repeat;
}

.nav_1000 .NItemH .NItemM a {
	color: rgb(255, 255, 255);
}

.nav_1000 .NItemH .NItemM a {
	font-size: 14px;
}

.nav_1000 .NItemH .NItemM a {
	font-weight: 700;
}

.nav_1000 .NItemH .NItemM a {
	font-style: normal;
}

.nav_1000 .NItemH .NItemM a {
	text-decoration: none;
}

.nav_1000 .NItemH .NItemM a {
	font-family: 풕턼환쥌;
}

.nav_1000 .NItemH .NItemM a {
	text-align: center;
}

.nav_1000 .NItemCur .NItemM {
	background-color: rgb(48, 93, 195);
}

.nav_1000 .NItemCur .NItemM {
	background-image: none;
}

.nav_1000 .NItemCur .NItemM {
	background-position: left top;
}

.nav_1000 .NItemCur .NItemM {
	background-repeat: repeat-y;
}

.nav_1000 .NItemCur .NItemM a {
	color: rgb(255, 255, 255);
}

.nav_1000 .NItemCur .NItemM a {
	font-size: 14px;
}

.nav_1000 .NItemCur .NItemM a {
	font-weight: 700;
}

.nav_1000 .NItemCur .NItemM a {
	font-style: normal;
}

.nav_1000 .NItemCur .NItemM a {
	text-decoration: none;
}

.nav_1000 .NItemCur .NItemM a {
	font-family: 풕턼환쥌;
}

.nav_1000 .NItemCur .NItemM a {
	text-align: center;
}

.nav_1000 .NItemM a {
	height: 80px;
}

.nav_1000 .NItemM a {
	line-height: 80px;
}

.nav_1000 .NSub {
	top: 80px;
}

.nav_1000 .NMainBg {
	background-color: rgb(255, 255, 255);
}

.nav_1000 .NMainBg {
	background-image: none;
}

.nav_1000 .NMainBg {
	background-position: left top;
}

.nav_1000 .NMainBg {
	background-repeat: repeat;
}

.nav_1000 .NLeft {
	display: none;
}

.nav_1000 .NRight {
	display: none;
}

.nav_1000 .NMainBg {
	margin-left: 0px;
}

.nav_1000 .NMainBg {
	margin-right: 0px;
}

.nav_1000 .NMain {
	padding-top: 0px;
}

.nav_1000 .NMain {
	padding-bottom: 0px;
}

.nav_1000 .NMain {
	padding-right: 0px;
}

.nav_1000 .NMain {
	padding-left: 480px;
}

.nav_1000 .NItemTable {
	width: 100px;
}

.nav_1000 .NLine {
	display: block;
}

.nav_1000 .NLine {
	height: 80px;
}

.nav_1000 .NLine {
	width: 10px;
}

.nav_1000 .NLine {
	background-color: rgba(0, 0, 0, 0);
}

.nav_1000 .NLine {
	background-image: none;
}

.nav_1000 .NLine {
	background-position: left top;
}

.nav_1000 .NLine {
	background-repeat: no-repeat;
}

#web_nav .scrollFixed {
	width: 100%;
}

#web_nav .scrollFixed .NMainBg {
	background: rgb(255, 255, 255) none repeat left top;
}

#nav .NItemM a {
	color: rgb(0, 0, 0);
}

#nav .NItemM a {
	font-size: 14px;
}

#nav .NItemM a {
	font-weight: 700;
}

#nav .NItemM a {
	font-style: normal;
}

#nav .NItemM a {
	text-decoration: none;
}

#nav .NItemM a {
	font-family: 풕턼환쥌;
}

#nav .NItemM a {
	text-align: center;
}

#nav .NItemH .NItemM {
	background-color: rgb(48, 93, 195);
}

#nav .NItemH .NItemM {
	background-image: none;
}

#nav .NItemH .NItemM {
	background-position: center top;
}

#nav .NItemH .NItemM {
	background-repeat: repeat;
}

#nav .NItemH .NItemM a {
	color: rgb(255, 255, 255);
}

#nav .NItemH .NItemM a {
	font-size: 14px;
}

#nav .NItemH .NItemM a {
	font-weight: 700;
}

#nav .NItemH .NItemM a {
	font-style: normal;
}

#nav .NItemH .NItemM a {
	text-decoration: none;
}

#nav .NItemH .NItemM a {
	font-family: 풕턼환쥌;
}

#nav .NItemH .NItemM a {
	text-align: center;
}

#nav .NItemCur .NItemM {
	background-color: rgb(48, 93, 195);
}

#nav .NItemCur .NItemM {
	background-image: none;
}

#nav .NItemCur .NItemM {
	background-position: left top;
}

#nav .NItemCur .NItemM {
	background-repeat: repeat-y;
}

#nav .NItemCur .NItemM a {
	color: rgb(255, 255, 255);
}

#nav .NItemCur .NItemM a {
	font-size: 14px;
}

#nav .NItemCur .NItemM a {
	font-weight: 700;
}

#nav .NItemCur .NItemM a {
	font-style: normal;
}

#nav .NItemCur .NItemM a {
	text-decoration: none;
}

#nav .NItemCur .NItemM a {
	font-family: 풕턼환쥌;
}

#nav .NItemCur .NItemM a {
	text-align: center;
}

#nav .NMain {
	padding-top: 0px;
}

#nav .NMain {
	padding-bottom: 0px;
}

#nav .NMain {
	padding-right: 0px;
}

#nav .NMain {
	padding-left: 300px;
}

#nav .NItemTable {
	width: 151px;
}

#nav .NLine {
	display: block;
}

#nav .NLine {
	height: 81px;
}

#nav .NLine {
	width: 14px;
}

#nav .NLine {
	background-color: rgb(243, 243, 243);
}

#nav .NLine {
	background-image: none;
}

#nav .NLine {
	background-position: left top;
}

#nav .NLine {
	background-repeat: repeat;
}

#web_nav .scrollFixed {
	width: 100%;
}

#nav .NItemL {
	display: none;
}

#nav .NItemR {
	display: none;
}

#nav .NItemM {
	background-color: rgb(243, 243, 243);
}

#nav .NItemM {
	background-image: none;
}

#nav .NItemM {
	background-position: left center;
}

#nav .NItemM {
	background-repeat: no-repeat;
}

#nav .NItemM a {
	height: 81px;
}

#nav .NItemM a {
	line-height: 83px;
}

#nav .NSub {
	top: 81px;
}

#nav {
	border-top: none;
}

#nav {
	border-bottom: none;
}

#nav {
	border-left: none;
}

#nav .NMainBg {
	background: none;
}

#nav .NLeft {
	background: none;
}

#nav .NRight {
	background: none;
}

#nav {
	border-right: none;
}

#nav .NMain {
	border-bottom: none;
}

#nav .NMain {
	border-left: none;
}

#nav .NMain {
	border-right: none;
}

#nav .NMainBg {
	height: 80px;
}

#nav .NMainBg {
	margin-bottom: -80px;
}

#nav .NMain {
	border-top: none;
}

#nav .NMain {
	height: 80px;
}

#footer {
	width: 100%;
}

#footer .footerBg {
	background-color: rgb(250, 250, 250);
}

#footer .footerBg {
	background-image: none;
}

#footer .footerBg {
	background-position: left top;
}

#footer .footerBg {
	background-repeat: no-repeat;
}

#footer .footerCon {
	color: rgb(176, 176, 176);
}

#footer .footerCon {
	font-size: 12px;
}

#footer .footerCon {
	font-weight: 400;
}

#footer .footerCon {
	font-style: normal;
}

#footer .footerCon {
	text-decoration: none;
}

#footer .footerCon {
	font-family: 풕턼환쥌;
}

#footer .footerCon {
	height: 90px;
}

#footer .footerCon {
	line-height: 90px;
}

#banner_area {
	width: 1320px;
}

#banner_area {
	margin-top: 0px;
}

#banner_area {
	margin-bottom: 0px;
}

#banner_area .pic-item {
	background-size: cover;
}

#banner_area .bannerCon {
	height: 343px;
}

#banner_area .bannerCon {
	border-color: #000000;
}

#banner_area .bannerCon {
	border-width: 0px;
}

#banner_area .bannerCon {
	border-style: solid;
}

#banner_area .bannerCon {
	border: none;
}

#row_9 {
	width: 100%;
}

#row_9 {
	background-color: #FFFFFF;
}

#row_9 {
	background-image: none;
}

#row_9 {
	background-position: left top;
}

#row_9 {
	background-repeat: no-repeat;
}

#row_9 {
	background-attachment: scroll;
}

#row_10 {
	width: 100%;
}

#row_10 {
	background-color: #FFFFFF;
}

#row_10 {
	background-image: url(https://aimg8.dlssyht.cn/u/2199597/ev_user_module_content_tmp/2022_08_20/tmp1660976232_2199597_s.png);
}

#row_10 {
	background-position: center top;
}

#row_10 {
	background-repeat: no-repeat;
}

#row_10 {
	background-attachment: scroll;
}

#row_11 {
	width: 100%;
}

#row_11 {
	background-color: rgb(255, 255, 255);
}

#row_11 {
	background-image: none;
}

#row_11 {
	background-position: center top;
}

#row_11 {
	background-repeat: no-repeat;
}

#row_11 {
	background-attachment: scroll;
}

#row_12 {
	width: 100%;
}

#row_13 .customModule {
	margin-top: 0px;
}

#row_13 .customModule {
	margin-bottom: 0px;
}

#row_13 {
	width: 100%;
}

#row_13 {
	background-color: transparent;
}

#row_13 {
	background-image: url(https://aimg8.dlssyht.cn/u/2199597/ev_user_module_content_tmp/2022_08_20/tmp1660980888_2199597_s.png);
}

#row_13 {
	background-position: center top;
}

#row_13 {
	background-repeat: no-repeat;
}

#row_13 {
	padding-top: 0px;
}

#row_13 {
	padding-bottom: 0px;
}

#row_13 {
	background-attachment: scroll;
}

#row_17 {
	border-top: none;
}

#row_17 {
	width: 100%;
}

#row_17 {
	border-top-color: rgb(237, 237, 237);
}

#row_17 {
	border-top-width: 1px;
}

#row_17 {
	border-top-style: solid;
}

#evMo_hKOgNT .ev-container-bg {
	background: none;
}

#evMo_xCMG7O .ev-container-bg {
	background: none;
}

#evMo_ujZLtC .ev-container-bg {
	background: none;
}

#evMo_5QJjkg .ev-container-bg {
	background: none;
}

#evMo_gjLpZT .ev-container-bg {
	background: rgb(255, 255, 255) none no-repeat left top;
}

#evMo_h7FOh3 .ev-container-bg {
	background: none;
}

#evMo_kHbrxB .ev-container-bg {
	background: none;
}

#evMo_u9pcTe .ev-line {
	border-top: rgb(48, 93, 195) 3px solid;
}

#evMo_u9pcTe .ev-line {
	margin-top: -2px;
}

#evMo_u9pcTe .ev-line:hover {
	border-top: rgb(48, 93, 195) 3px solid;
}

#evMo_0eT9f .ev-base-button .btn-m {
	background-color: rgb(255, 255, 255);
}

#evMo_0eT9f .ev-base-button .btn-text {
	color: rgb(48, 93, 195);
}

#evMo_0eT9f .ev-base-button .btn-text {
	text-decoration: none;
}

#evMo_0eT9f .ev-base-button .btn-text {
	font: normal 400 14px/1 '풕턼환쥌';
}

#evMo_0eT9f .ev-base-button .btn-m {
	border-top: none;
}

#evMo_0eT9f .ev-base-button .btn-m {
	border-bottom: none;
}

#evMo_0eT9f .ev-base-button .btn-m {
	border-left: none;
}

#evMo_0eT9f .ev-base-button .btn-m {
	border-right: none;
}

#evMo_1ZWDU1 .ev-base-button .btn-m {
	background-color: rgb(255, 255, 255);
}

#evMo_1ZWDU1 .ev-base-button .btn-m {
	border-top: none;
}

#evMo_1ZWDU1 .ev-base-button .btn-m {
	border-bottom: none;
}

#evMo_1ZWDU1 .ev-base-button .btn-m {
	border-left: none;
}

#evMo_1ZWDU1 .ev-base-button .btn-m {
	border-right: none;
}

#evMo_1ZWDU1 .ev-base-button .btn-text {
	color: rgb(48, 93, 195);
}

#evMo_1ZWDU1 .ev-base-button .btn-text {
	text-decoration: none;
}

#evMo_1ZWDU1 .ev-base-button .btn-text {
	font: normal 400 14px/1 '풕턼환쥌';
}

#evMo_1ZWDU1 .ev-base-button .btn-m {
	box-shadow: rgba(0, 0, 0, 0.03) 0px 5px 58px 1px;
}

#evMo_13PUc4 .ev-line {
	border-top: rgb(48, 93, 195) 4px solid;
}

#evMo_13PUc4 .ev-line {
	margin-top: -2px;
}

#evMo_13PUc4 .ev-line:hover {
	border-top: rgb(48, 93, 195) 4px solid;
}

#evMo_JGm8me .ev-base-button .btn-m {
	background-color: rgb(255, 255, 255);
}

#evMo_JGm8me .ev-base-button .btn-m {
	border-top: none;
}

#evMo_JGm8me .ev-base-button .btn-m {
	border-bottom: none;
}

#evMo_JGm8me .ev-base-button .btn-m {
	border-left: none;
}

#evMo_JGm8me .ev-base-button .btn-m {
	border-right: none;
}

#evMo_JGm8me .ev-base-button .btn-text {
	color: rgb(48, 93, 195);
}

#evMo_JGm8me .ev-base-button .btn-text {
	text-decoration: none;
}

#evMo_JGm8me .ev-base-button .btn-text {
	font: normal 400 14px/1 '풕턼환쥌';
}

#evMo_JGm8me .ev-base-button .btn-m {
	box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 58px -6px;
}

#evMo_BhSjeC .ev-line {
	border-top: rgba(255, 255, 255, 0.3) 1px solid;
}

#evMo_BhSjeC .ev-line {
	margin-top: -1px;
}

#evMo_BhSjeC .ev-line:hover {
	border-top: rgba(255, 255, 255, 0.3) 1px solid;
}

#evMo_O5NMrP .ev-line {
	border-top: rgba(255, 255, 255, 0.3) 1px solid;
}

#evMo_O5NMrP .ev-line {
	margin-top: -1px;
}

#evMo_O5NMrP .ev-line:hover {
	border-top: rgba(255, 255, 255, 0.3) 1px solid;
}

#Mo_13 .pic-text-list-module .pic-attr {
	width: auto;
}

#Mo_13 .pic-text-list-module li {
	width: 33.33%;
}

#Mo_13 .pic-text-list-module .inner {
	background-color: rgb(241, 241, 241);
}

#Mo_13 .pic-text-list-module .inner {
	background-image: none;
}

#Mo_13 .pic-text-list-module .inner {
	background-position: left top;
}

#Mo_13 .pic-text-list-module .inner {
	background-repeat: no-repeat;
}

#Mo_13 .pic-text-list-module .inner {
	margin-top: 0px;
}

#Mo_13 .pic-text-list-module .inner {
	margin-bottom: 30px;
}

#Mo_13 .pic-text-list-module .inner {
	margin-left: 15px;
}

#Mo_13 .pic-text-list-module ul {
	margin-left: -15px;
}

#Mo_13 .pic-text-list-module .inner {
	margin-right: 15px;
}

#Mo_13 .pic-text-list-module ul {
	margin-right: -15px;
}

#Mo_13 .pic-text-list-module .inner {
	padding-top: 0px;
}

#Mo_13 .pic-text-list-module .inner {
	padding-bottom: 30px;
}

#Mo_13 .pic-text-list-module .inner {
	padding-left: 0px;
}

#Mo_13 .pic-text-list-module .inner {
	padding-right: 0px;
}

#Mo_13 .pic-text-list-module .pics {
	text-align: center;
}

#Mo_13 .pic-text-list-module .pics {
	padding-top: 1px;
}

#Mo_13 .pic-text-list-module .pics {
	padding-bottom: 0px;
}

#Mo_13 .pic-text-list-module .pics {
	padding-left: 0px;
}

#Mo_13 .pic-text-list-module .pics {
	padding-right: 0px;
}

#Mo_13 .pic-text-list-module .pics {
	border: none;
}

#Mo_13 .pic-text-list-module .pic-price {
	text-align: center;
}

#Mo_13 .pic-text-list-module .newPrice em {
	color: rgb(255, 102, 0);
}

#Mo_13 .pic-text-list-module .newPrice em {
	font-size: 18px;
}

#Mo_13 .pic-text-list-module .newPrice em {
	font-weight: 400;
}

#Mo_13 .pic-text-list-module .newPrice em {
	font-style: normal;
}

#Mo_13 .pic-text-list-module .newPrice em {
	text-decoration: none;
}

#Mo_13 .pic-text-list-module .newPrice em {
	font-family: 풕턼환쥌;
}

#Mo_13 .pic-text-list-module .pics {
	margin-top: 0px;
}

#Mo_13 .pic-text-list-module .pics {
	margin-bottom: 35px;
}

#Mo_13 .pic-text-list-module .pics {
	margin-left: 0px;
}

#Mo_13 .pic-text-list-module .pics {
	margin-right: 0px;
}

#Mo_13 .pic-text-list-module .pic-title {
	text-align: center;
}

#Mo_13 .pic-text-list-module .pic-title a {
	color: rgb(51, 51, 51);
}

#Mo_13 .pic-text-list-module .pic-title a {
	font-size: 14px;
}

#Mo_13 .pic-text-list-module .pic-title a {
	font-weight: 400;
}

#Mo_13 .pic-text-list-module .pic-title a {
	font-style: normal;
}

#Mo_13 .pic-text-list-module .pic-title a {
	text-decoration: none;
}

#Mo_13 .pic-text-list-module .pic-title a {
	font-family: 풕턼환쥌;
}

#Mo_13 .pic-text-list-module .liHover .pic-title a {
	color: rgb(255, 255, 255);
}

#Mo_13 .pic-text-list-module .liHover .pic-title a {
	font-size: 14px;
}

#Mo_13 .pic-text-list-module .liHover .pic-title a {
	font-weight: 400;
}

#Mo_13 .pic-text-list-module .liHover .pic-title a {
	font-style: normal;
}

#Mo_13 .pic-text-list-module .liHover .pic-title a {
	text-decoration: none;
}

#Mo_13 .pic-text-list-module .liHover .pic-title a {
	font-family: 풕턼환쥌;
}

#Mo_13 .pic-text-list-module .pic-title a:hover {
	color: rgb(255, 255, 255);
}

#Mo_13 .pic-text-list-module .pic-title a:hover {
	font-size: 14px;
}

#Mo_13 .pic-text-list-module .pic-title a:hover {
	font-weight: 400;
}

#Mo_13 .pic-text-list-module .pic-title a:hover {
	font-style: normal;
}

#Mo_13 .pic-text-list-module .pic-title a:hover {
	text-decoration: none;
}

#Mo_13 .pic-text-list-module .pic-title a:hover {
	font-family: 풕턼환쥌;
}

#Mo_13 .pic-text-list-module .pic-title {
	margin-top: 0px;
}

#Mo_13 .pic-text-list-module .pic-title {
	margin-bottom: 0px;
}

#Mo_13 .pic-text-list-module .pic-title {
	margin-left: 0px;
}

#Mo_13 .pic-text-list-module .pic-title {
	margin-right: 0px;
}

#Mo_13 .pic-text-list-module .pic-intro {
	color: rgb(183, 183, 183);
}

#Mo_13 .pic-text-list-module .pic-intro {
	font-size: 12px;
}

#Mo_13 .pic-text-list-module .pic-intro {
	font-weight: 400;
}

#Mo_13 .pic-text-list-module .pic-intro {
	font-style: normal;
}

#Mo_13 .pic-text-list-module .pic-intro {
	text-decoration: none;
}

#Mo_13 .pic-text-list-module .pic-intro {
	font-family: 풕턼환쥌;
}

#Mo_13 .pic-text-list-module .liHover .pic-intro {
	color: rgb(255, 255, 255);
}

#Mo_13 .pic-text-list-module .liHover .pic-intro {
	font-size: 12px;
}

#Mo_13 .pic-text-list-module .liHover .pic-intro {
	font-weight: 400;
}

#Mo_13 .pic-text-list-module .liHover .pic-intro {
	font-style: normal;
}

#Mo_13 .pic-text-list-module .liHover .pic-intro {
	text-decoration: none;
}

#Mo_13 .pic-text-list-module .liHover .pic-intro {
	font-family: 풕턼환쥌;
}

#Mo_13 .pic-text-list-module .pic-intro {
	text-align: center;
}

#Mo_13 .pic-text-list-module .pic-intro {
	margin-left: 0px;
}

#Mo_13 .pic-text-list-module .pic-intro {
	margin-right: 0px;
}

#Mo_13 .pic-text-list-module .pic-intro {
	margin-bottom: 0px;
}

#Mo_13 .pic-text-list-module .pic-intro {
	margin-top: 16px;
}

#Mo_13 .pic-text-list-module .liHover .inner {
	background-color: rgb(48, 93, 195);
}

#Mo_13 .pic-text-list-module .liHover .inner {
	background-image: none;
}

#Mo_13 .pic-text-list-module .liHover .inner {
	background-position: left top;
}

#Mo_13 .pic-text-list-module .liHover .inner {
	background-repeat: no-repeat;
}

#Mo_13 .MoBody {
	border-right-color: #cccccc;
}

#Mo_13 .MoBody {
	border-right-width: 1px;
}

#Mo_13 .MoBody {
	border-right-style: solid;
}

.copyMo_1806012_1 {
	border-left: none;
}

.copyMo_1806012_1 {
	border-right: none;
}

.copyMo_1806012_1 {
	border-bottom: none;
}

.copyMo_1806012_1 {
	border-top: none;
}

.copyMo_1806012_1 {
	background: none;
}

.copyMo_1806012_1 .MoHead {
	display: none;
}

.copyMo_1806012_1 .MoBodyM {
	background: none;
}

.copyMo_1806012_1 .MoBodyC {
	margin-left: 0px;
}

.copyMo_1806012_1 .MoBodyC {
	margin-right: 0px;
}

.copyMo_1806012_1 .MoBodyC {
	margin-bottom: 0px;
}

.copyMo_1806012_1 .MoBodyC {
	margin-top: 0px;
}